div.writeentryform
{
    float: right;
    width: 340px;
    background-color: #fff;
    padding-right: 2em;
}

div.writeentryform .formControls {
    margin: 0;
}

dl.guestbook
{
    margin-right: 360px;
}

dl.guestbook dt
{
    color: #001d3e;
    border-bottom: 1px solid #001d3e;
    margin-bottom: 5px;
    padding-bottom: 2px;
}

dl.guestbook dt a
{
    font-weight: normal;
    border: none !important;
}

dl.guestbook dt span.entry_date
{
    font-weight: normal;
}

dl.guestbook span.pending_label,
dl.guestbook span.spam_label
{
    color: white;
    display: inline-block;
    padding: 0 2px;
}

dl.guestbook span.pending_label
{
    background-color: #EBB92F;
}

dl.guestbook span.spam_label
{
    background-color: #ff0000;
}

dl.guestbook dd.message
{
    margin: 0 0 10px !important;
}

dl.guestbook dd.message.pending,
dl.guestbook dd.message.spam
{
    color: #ccc;
}

dl.guestbook dd.message.spam
{
    text-decoration: line-through;
}
