body
{
    background-image: url(++resource++sbo.theme.images/bg-gradient.png);
    background-repeat: repeat-x;
    font: 16px Verdana, FreeSans, sans-serif;
}

h1
{
    color: #001d3e;
    font-size: 19px;
    line-height: 1em;
    border-bottom: 2px solid #001d3e;
    margin-bottom: 5px;
}

h2
{
    color: #001d3e;
    font-size: 18px;
}

h3, h4
{
    font-size: 17px;
}

h5
{
    font-size: 16px;
}

h6
{
    font-size: 14px;
}

#visual-portal-wrapper
{
    width: 780px;
    margin: auto;
    background-color: #f0f1f2;
}

#portal-top div.width-full
{
    width: 100%
}

#portal-top div.position-0
{
    margin-left: -100%
}

#portal-personaltools-wrapper
{
    position: absolute;
    right: 15px;
}

#portal-logo
{
    margin: 0;
}

#content
{
    font-size: 11px;
    line-height: 1.5em;
}

#content .documentDescription,
#content #description {
    color: #666;
    margin-left: 0;
    font-style: bold;
    font-size: 13px;
    margin-bottom: 1em;
}

#edit-bar,
ul.formTabs
{
    font-size: 11px;
}

#edit-bar .contentViews
{
    float: none;
}

#content-views li.selected a,
#content-views li a:hover
{
    background-color: #ccc;
}


#edit-bar #contentActionMenus
{
    float: none;
    display: block;
    height: 22px;
    position: static;
    background: #ccc;
    border: 0;
    border-radius: 0;
    right: 0;
    top: 0;
}

#contentActionMenus dl.actionMenu a
{
    background-color: transparent;
    color: #000;
}

#contentActionMenus dl.actionMenu dd.actionMenuContent,
#contentActionMenus dl.actionMenu dd.actionMenuContent a
{
    background-color: #ccc;
    border-bottom-color: #ccc;
    color: #000;
}

#portal-footer-sep
{
    clear: both;
    height: 9px;
    background-image:  url(++resource++sbo.theme.images/footer-sep.png);
}

#portal-siteactions
{
    height: 15px;
    padding: 3px 0 0;
    font-size: 11px;
    overflow: hidden;
    background-image:  url(++resource++sbo.theme.images/footer-siteactions-bg.png);
}

#portal-siteactions li a,
#portal-siteactions li a:hover
{
    font-size: 11px;
    color: white;
}

#portal-footer
{
    height: 17px;
    font-size: 11px;
    margin: 0;
    padding: 2px 0 0;
    overflow: hidden;
    line-height: 1em;
    text-align: center;
    background-image:  url(++resource++sbo.theme.images/footer-bg.png);
    color: #fff;
}
