#portal-globalnav {
        position:relative;
        display: inline;
}

#portal-globalnav li ul {
        display: none;
        visibility: hidden;
        position: absolute;
        z-index: 200;
}

#portal-globalnav li ul li {
        display: block;
        margin: 0;
        padding: 0;
        width: 100%;
        clear: left;
}

#portal-globalnav li ul li a {
        display: block;
}

#portal-globalnav li:hover ul {
        visibility: visible;
        display: block;
}

#portal-globalnav li {
        display: inline;
        position: relative;
        float: left;
}
