#portal-globalnav {
    position: relative;
    height: 61px;
    background-image: url(++resource++sbo.theme.images/globalnav-bg.png);
    background-repeat: repeat-x;
    background-color: #f0f1f2;
    font-size: 12px;
    margin: 0 0 5px;
    padding: 0 9px;
}

#portal-globalnav li
{
    float: left;
}

#portal-globalnav li a,
#portal-globalnav li a:link
{
    background: transparent;
    border: 0;
    color: #fff;
    height: 21px;
    padding: 6px 8px 0;
    position: relative;
    min-width: 0px;
    margin: 0;
}



#portal-globalnav li.selected a,
#portal-globalnav li a:hover,
#portal-globalnav li.selected a:hover
{
    color: #000;
    background: transparent;
    background-image:  url(++resource++sbo.theme.images/globalnav-selected-tab-bg.png);
    background-repeat: repeat-x;
}

#portal-globalnav li.selected a div.left-edge,
#portal-globalnav li a:hover div.left-edge
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 6px;
    height: 27px;
    background-image:  url(++resource++sbo.theme.images/globalnav-selected-tab-bg-left.png);
}

#portal-globalnav li.selected a div.right-edge,
#portal-globalnav li a:hover div.right-edge
{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 6px;
    height: 27px;
    background-image: url(++resource++sbo.theme.images/globalnav-selected-tab-bg-right.png);
}

#portal-globalnav li ul
{
    display: none;
    z-index: 200;
    position: absolute;
    left: 0px;
    top: 28px;
    width: 762px;
    background-image: url(++resource++sbo.theme.images/globalnav-second-level-bg.png);
    padding: 0 9px;
    height: 33px;
}

#portal-globalnav li.selected ul
{
    display: block;
}


#portal-globalnav li.selected ul li a
{
    background-image: none;
}

#portal-globalnav li.selected ul li a:hover,
#portal-globalnav li.selected ul li.selected a
{
    background-image: url(++resource++sbo.theme.images/globalnav-second-level-selected-tab-bg.png);
}

#portal-globalnav li.selected ul li a div.left-edge,
#portal-globalnav li.selected ul li a div.right-edge
{
    background-image: none;
}

#portal-globalnav li.selected ul li a:hover div.left-edge,
#portal-globalnav li.selected ul li.selected a div.left-edge
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 5px;
    height: 27px;
    background-image:  url(++resource++sbo.theme.images/globalnav-second-level-selected-tab-bg-left.png);
}

#portal-globalnav li.selected ul li a:hover div.right-edge,
#portal-globalnav li.selected ul li.selected a div.right-edge
{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 5px;
    height: 27px;
    background-image:  url(++resource++sbo.theme.images/globalnav-second-level-selected-tab-bg-right.png);
}
